.main-container{
    background-color: honeydew;
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
}

.sidebar-container {
    flex: 0.3;
    flex-direction: column;
    display: flex;
}

.chat-area {
    display: flex;
    flex: 0.7;
    flex-direction: column;
}
.sb-header {
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.sb-search {
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.search-box{
    font-size: 2rem;
    border: none;
    outline-width: 0;
}
.sb-conversation{
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
    flex: 1;
}
.conversation-container{
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}
.chat-header{
    background-color: white;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
}
.messages-con {
    flex: 1;
}
.text-input-area{
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.header-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}
.search-box{
    outline-width: 0;
    border: none;
    margin-left: 10px;
    font-size: 1.25rem;
    color : skyblue;
}